<div id="locationSearchContainer">
  <button id="useCurrentLocationButton">
    <i class="fa fa-location-arrow"></i>
  </button>
  <input id="locationSearchField" type="text" placeholder="Location...">
  <button id="addLocationButton">
    <i class="fa fa-arrow-circle-o-right"></i>
  </button>
</div>