<div id="background"></div>
<div id="weatherdata">
  <div id="locations">
    <div class="location">
      Stockholm,
      <span>Sverige</span>
    </div>
    <div class="location">
      Berlin,
      <span>Deutschland</span>
    </div>
  </div>
  <div id="weatherdata_currently">
    <div class="title">currently</div>
    <div id="weatherdata_current_data">
    </div>
  </div>
  <div id="weatherdata_forecast_hourly">
    <div class="title">hourly forecast</div>
  </div>
  <div id="weatherdata_forecast_daily">
    <div class="title">daily forecast</div>
  </div>
</div>