<div id="background"></div>
<div id="menu">
  <div id="addLocationIcon">
    <i class="fa fa-plus-circle"></i>
  </div>
  <% if current_user %>
  <div id="removeLocationIcon">
    <i class="fa fa-minus-circle"></i>
  </div>
  <% end %>
	<div id="showProfileIcon">
	  <i class="fa fa-user"></i>
	</div>
	<br class="clear" />
</div>
<div id="weatherdata">
  <div id="locations">
    
  </div>
  <div id="weatherdata_currently">
    <div class="title" onclick="$('#weatherdata_current_data').toggle();">currently</div>
    <div id="weatherdata_current_data"></div>
  </div>
  <div id="weatherdata_forecast_hourly">
    <div class="title" onclick="$('#weatherdata_hourly_data').toggle();">hourly forecast</div>
    <div id="weatherdata_hourly_data"></div>
  </div>
  <div id="weatherdata_forecast_daily">
    <div class="title" onclick="$('#weatherdata_daily_data').toggle();">daily forecast</div>
    <div id="weatherdata_daily_data"></div>
  </div>
</div>

<div id="overlay" visible="false"></div>
