<div id="background"></div>
<div id="menu">
  <div id="addLocationIcon">
    <i class="fa fa-plus-circle"></i>
  </div>
	<div id="showProfileIcon">
	  <i class="fa fa-user"></i>
	</div>
	<br class="clear" />
</div>
<div id="weatherdata">
  <div id="locations">
    
  </div>
  <div id="weatherdata_currently">
    <div class="title">currently</div>
    <div id="weatherdata_current_data">
    </div>
  </div>
  <div id="weatherdata_forecast_hourly">
    <div class="title">hourly forecast</div>
  </div>
  <div id="weatherdata_forecast_daily">
    <div class="title">daily forecast</div>
  </div>
</div>

<div id="overlay" visible="false"></div>
