// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-family: 'Lato', sans-serif;

$background-color-primary: rgba(0,0,0,0.5);
$background-color-secondary: rgba(0,0,0,0.3);
$background-color-dark: rgba(0,0,0,0.8);
$background-color-light: rgba(255,255,255,0.95);
$color-light: rgba(255,255,255,0.6);
$text-color: rgba(255,255,255,1);
$box-padding: 5px;
$box-margin: 5px;

$font-size-xl: 50px;
$font-size-l: 40px;
$font-size-m: 30px;
$font-size-s: 20px;
$font-size-xs: 15px;
$font-size-xxs: 10px;

$line-height-xl: 60px;
$line-height-l: 50px;
$line-height-m: 40px;
$line-height-s: 30px;
$line-height-xs: 20px;

$margin-xl: 20px;
$margin-l: 10px;
$margin-m: 5px;
$margin-s: 2px;

$border-radius-l: 10px;

@media only screen and (max-device-width: 480px) {
  body {
    font-width: 300;
  }
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-family;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

div#menu {
  margin-top: $box-margin *2;
  margin-bottom: $box-margin /2;
  margin-left: $box-margin *2;
  margin-right: $box-margin *2;
  padding: $box-padding;
  background-color: $background-color-primary;
  color: $text-color;
}
div#menu div {
  float: right;
  margin-right: $margin-l;
  margin-left: $margin-l;
  font-size: $font-size-s;
  cursor: pointer;
  font-weight: 100;
}

div#menu div#addLocationIcon {
  float: left;
} 

div#menu div#addLocationIcon i {
  color: $text-color;
}

div#weatherdata {
	margin: $box-margin;
}

div#weatherdata_currently,
div#weatherdata_forecast_hourly,
div#weatherdata_forecast_daily,
div#locations {
	float: left;
	max-width: 300px;
	padding: $box-padding;
	background-color: $background-color-primary;
	color: $text-color;
	margin: $box-margin;
}

div#locations {
	background-color: $background-color-secondary;
	padding: 5px 30px 5px 5px;
	font-size: $font-size-s;
	overflow-x: hidden;
	max-width: 250px;
}

div.selectedLocation,
div.location {
  cursor: pointer;
}

div.selectedLocation span {
	font-size: $font-size-m;
}
div.selectedLocation span.locationCityName {
  font-size: $font-size-xl;
}
div.location span {
	font-size: $font-size-s;
}

div#message {
  text-align: center;
  font-size: $font-size-s;
  margin-top: 80px;
}

div#settings {
  font-size: $font-size-xs;
  cursor: pointer;
}

br.clear {
	clear: both;
}

div#temp,
div#temp_min,
div#temp_max {
	line-height: $line-height-xl;
	float: left;
	margin-right: $margin-xl;
}

div#temp {
	font-size: $font-size-xl;
}

div#temp_min,
div#temp_max {
	font-size: $font-size-xs;
}

.container {
	float: left;
}

div#overlay {
  height: 400px;
  position: absolute;
  z-index: 2;
  background-color: $background-color-light;
  top: -400px;
  -webkit-border-bottom-right-radius: $border-radius-l;
  -webkit-border-bottom-left-radius: $border-radius-l;
  -moz-border-radius-bottomright: $border-radius-l;
  -moz-border-radius-bottomleft: $border-radius-l;
  border-bottom-right-radius: $border-radius-l;
  border-bottom-left-radius: $border-radius-l;
}
div#overlay i.overlaySpinner {
  bottom: 50px;
  position: absolute;
  left: 50%;
  margin-left: -21px;
}

@media (max-width: 640px) {
  div#overlay {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  div#overlay {
    width: 640px;
    left: 50%;
    margin-left: -320px;
  }
}


div#locationSearchContainer {
  margin-top: 70px;
  text-align: center;
  font-size: 0;
}

div#locationSearchContainer input#locationSearchField {
  border: 5px solid #e0e0e0;
  font-size: $font-size-m;
  margin: 0;
  padding: 10px 10px;
}
div#locationSearchContainer button {
  border: 5px solid #e0e0e0;
  font-size: $font-size-m;
  margin: 0;
  padding: 10px 15px;
}
div#locationSearchContainer button i {
  font-size: $font-size-m;
}
div#locationSearchContainer button#useCurrentLocationButton {
  border-right: none;
  color: gray;
  background-color: white;
  -webkit-border-top-left-radius: $border-radius-l;
  -webkit-border-bottom-left-radius: $border-radius-l;
  -moz-border-radius-topleft: $border-radius-l;
  -moz-border-radius-bottomleft: $border-radius-l;
  border-top-left-radius: $border-radius-l;
  border-bottom-left-radius: $border-radius-l;
}
div#locationSearchContainer button#addLocationButton {
  border-left: none;
  color: gray;
  background-color: white;
  -webkit-border-top-right-radius: $border-radius-l;
  -webkit-border-bottom-right-radius: $border-radius-l;
  -moz-border-radius-topright: $border-radius-l;
  -moz-border-radius-bottomright: $border-radius-l;
  border-top-right-radius: $border-radius-l;
  border-bottom-right-radius: $border-radius-l;
}

div#profile {
  margin: 10px;
  text-align: center;
}

div#profile div.headline {
  margin-top: 10px;
  display: inline-block;
}

div#profile img#userimage,
div#profile div#username {
  border: 5px solid #e0e0e0;
  float: left;
}
div#profile img#userimage {
  border-right: none;
  -webkit-border-top-left-radius: $border-radius-l;
  -webkit-border-bottom-left-radius: $border-radius-l;
  -moz-border-radius-topleft: $border-radius-l;
  -moz-border-radius-bottomleft: $border-radius-l;
  border-top-left-radius: $border-radius-l;
  border-bottom-left-radius: $border-radius-l;
}
div#profile div#username {
  line-height: $line-height-l;
  font-size: $font-size-m;
  padding: 0 10px;
  -webkit-border-top-right-radius: $border-radius-l;
  -webkit-border-bottom-right-radius: $border-radius-l;
  -moz-border-radius-topright: $border-radius-l;
  -moz-border-radius-bottomright: $border-radius-l;
  border-top-right-radius: $border-radius-l;
  border-bottom-right-radius: $border-radius-l;
}
div#profile div#welcome {
  padding: 0 10px;
  line-height: $line-height-xl;
  font-size: $font-size-s;
  float: left;
}


a#sign_out,
a#sign_out:visited,
a#sign_out:active,
a#sign_out:hover {
  color: gray;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -22px;
}
a#sign_out:hover {
  color: #d0d0d0;
}


a#sign_in,
a#sign_in:visited,
a#sign_in:active,
a#sign_in:hover {
  color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -27.5px;
  margin-top: -27.5px;
}
a#sign_in:hover {
  color: #d0d0d0;
}


.text_margin_left_l {
	margin-left: $margin-xl;
}
.text_margin_right_l {
	margin-right: $margin-xl;
}
.text_margin_left_m {
	margin-left: $margin-l;
}
.text_margin_right_m {
	margin-right: $margin-l;
}
.text_margin_left_s {
	margin-left: $margin-m;
}
.text_margin_right_s {
	margin-right: $margin-m;
}
.text_margin_left_xs {
	margin-left: $margin-s;
}
.text_margin_right_xs {
	margin-right: $margin-s;
}




.text_float_left {
	float: left;
}

.text_lineheight_60 {
	line-height: $line-height-xl;
}

.text_lineheight_50 {
	line-height: $line-height-l;
}

.text_lineheight_40 {
	line-height: $line-height-m;
}

.text_xl {
	font-size: $font-size-xl;
}

.text_l {
	font-size: $font-size-l;
}

.text_m {
	font-size: $font-size-m;
}

.text_s {
	font-size: $font-size-s;
}

.text_xs {
	font-size: $font-size-xs;
}

.text_xxs {
	font-size: $font-size-xxs;
}

.text_align_center {
  text-align: center;
}

.fixed_width_100 {
  width: 100px;
}



.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display: inline-block;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E0E0E0; border-radius: 5px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #6194FD; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #F8F8F8; color: #666666;
    text-align: right;
}
.onoffswitch-switch {
    width: 35px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #E0E0E0; border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 51px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: -22px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

